<section>
    <fieldset>
        <button @click="router.push('/login')">←</button>
        <h1>Otwórz bramę</h1>
    </fieldset>

    <fieldset>
        <div>
            <img alt="pilot image"/>
            <div>
                <h2>Długa nazwa pilota</h2>
                <div v-for="(gate,index) in pagedGates" :key="index">
                    <button>{{gate}}</button>
                </div>
                <p>Wybierz bramę, by otworzyć</p>
            </div>
        </div>
        <div>
            <span v-for="n in totalPages" :key="n" @click="page = n">.</span>
        </div>
    </fieldset>

    <nav>
        <button>gps</button>
        <button>code</button>
        <button>car</button>
        <button>wallet</button>
        <button>menu</button>
    </nav>
</section>