@import 'tailwindcss';

/*
Colors:
#F3AD3E; - primary yellow
#15215C; - main blue
#FADF99  -  FFB034  - gradient

Fonts:
DM Sans, Lato -btns, Poppins -h1
*/

:root {
  font-family: "DM Sans", sans-serif;
  line-height: 1.5;
  font-weight: 500;

  background-color: #fff;
  color:#15215C;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}